Copy code
<!DOCTYPE html>
<html>
<head>
  <title>Currency Symbols</title>
</head>
<body>
  <h1>Currency Symbols</h1>

  <ul>
    <% @symbols.each do |symbol| %>
        <li>
          <a href="/<%= symbol %>" >
          convert 1 <%= symbol %> to...
          </a>
        </li>
      <% end %>
  
  </ul>
</body>
</html>
